.website-title{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  margin-bottom: 40px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.city-box {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 20px;
  border-radius: 25px;
}

.info-container {
  display: flex;
  justify-content: space-between;
}
